<div class="card__item js-card {% if size > 6 %} {{size}} is-hidden {% endif %}">
  <a  href="{{ post.url }}" class="card__image" style="background-image:">
    <div class="card__image" style="background-image: url('{{ src | asset_path : post.image }}')"></div>
    <div class="card__photo"><span>4</span><i class="icon-camera"></i></div>
  </a>
  <div class="card__title">
    {{ post.title }}
  </div>
  <div class="card__description">
    {{ post.title }}
  </div>
  <div class="card__btn">
    <a href="{{ post.url }}" class="btn btn--project"><span>see project</span><i class="icon-arrow-right"></i></a>
  </div>
</div>