<div class="card">
  <div class="header-inside">
    {% include header_inside_pages.liquid %}
  </div>
  {% include hat_nav.liquid %}
  <div class="card__container">
    <div class="card__box">
      <div class="card__item">
        <div class="card__image" style="background-image: url('{{ src | asset_path : "plate-1.jpg" }}')">
          <div class="card__photo"><span>4</span><i class="icon-camera"></i></div>
        </div>
        <div class="card__title">
          Information Kiosks
        </div>
        <div class="card__description">
          Borough of Phoenixville
        </div>
        <div class="card__btn">
          <a href="" class="btn btn--project"><span>see project</span><i class="icon-arrow-right"></i></a>
        </div>
      </div>

      <div class="card__item">
        <div class="card__image" style="background-image: url('{{ src | asset_path : "plate-2.jpg" }}')">
          <div class="card__photo"><span>4</span><i class="icon-camera"></i></div>
        </div>
        <div class="card__title">
          Information Kiosks
        </div>
        <div class="card__description">
          Borough of Phoenixville
        </div>
        <div class="card__btn">
          <a href="" class="btn btn--project"><span>see project</span><i class="icon-arrow-right"></i></a>
        </div>
      </div>

      <div class="card__item">
        <div class="card__image" style="background-image: url('{{ src | asset_path : "plate-1.jpg" }}')">
          <div class="card__photo"><span>4</span><i class="icon-camera"></i></div>
        </div>
        <div class="card__title">
          Information Kiosks
        </div>
        <div class="card__description">
          Borough of Phoenixville
        </div>
        <div class="card__btn">
          <a href="" class="btn btn--project"><span>see project</span><i class="icon-arrow-right"></i></a>
        </div>
      </div>


      <div class="card__item">
        <div class="card__image" style="background-image: url('{{ src | asset_path : "plate-2.jpg" }}')">
          <div class="card__photo"><span>4</span><i class="icon-camera"></i></div>
        </div>
        <div class="card__title">
          Information Kiosks
        </div>
        <div class="card__description">
          Borough of Phoenixville
        </div>
        <div class="card__btn">
          <a href="" class="btn btn--project"><span>see project</span><i class="icon-arrow-right"></i></a>
        </div>
      </div>

      <div class="card__item">
        <div class="card__image" style="background-image: url('{{ src | asset_path : "plate-1.jpg" }}')">
          <div class="card__photo"><span>4</span><i class="icon-camera"></i></div>
        </div>
        <div class="card__title">
          Information Kiosks
        </div>
        <div class="card__description">
          Borough of Phoenixville
        </div>
        <div class="card__btn">
          <a href="" class="btn btn--project"><span>see project</span><i class="icon-arrow-right"></i></a>
        </div>
      </div>

      <div class="card__item">
        <div class="card__image" style="background-image: url('{{ src | asset_path : "plate-2.jpg" }}')">
          <div class="card__photo"><span>4</span><i class="icon-camera"></i></div>
        </div>
        <div class="card__title">
          Information Kiosks
        </div>
        <div class="card__description">
          Borough of Phoenixville
        </div>
        <div class="card__btn">
          <a href="" class="btn btn--project"><span>see project</span><i class="icon-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="card__more">
      <a href="" class="btn btn--more"><span>More Projects</span><i class="icon-arrow-down"></i></a>
    </div>
  </div>

 {% include have_project.liquid %}
 {% include header_inside_mobile.liquid %}
</div>
